body {
	max-width: 700px ;
	width: 80%;
	margin: 20px auto;
	border: 20px #bdc3c7 solid;
	padding: 2%;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	font-size: 2em;
	font-weight: 700;
}

.first {
	border-left: 5px #bdc3c7 solid;
	padding-left: 0.7%;
}

/*date color: #3498db
  h2 color: #2c3e50
  font: source sans pro;
*/